WinFormeplayAd/WinFormeplayAd/Service References/Service1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53180/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WinFormeplayAdWcf" />
  <xs:element name="View_ADS_FilmInfo_UPLoadStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="View_ADS_FilmInfo_UPLoadStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WinFormeplayAdWcf" minOccurs="0" name="View_ADS_FilmInfo_UPLoadStatusResult" nillable="true" type="q1:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyCard_ADS_FilmInfo_UPLoadStatus_UPDATE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Sn" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyCard_ADS_FilmInfo_UPLoadStatus_UPDATEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WinFormeplayAdWcf" minOccurs="0" name="MyCard_ADS_FilmInfo_UPLoadStatus_UPDATEResult" nillable="true" type="q2:ReturnValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>