MyCardPointsApi/MyCardPointsApi/Service References/ErrorLog_WS/SystemErrorLogService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.16.1.247:8081/MyCardSystemErrorLog/SystemErrorLogService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyCardSystemErrorLog" />
  <xs:element name="MyCardSystemErrorLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Project" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyCardSystemErrorLog" minOccurs="0" name="ErrorType" type="q1:ErrorType" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MyCardSystemErrorLog" minOccurs="0" name="FaultType" type="q2:FaultType" />
        <xs:element minOccurs="0" name="ObjectName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KeyWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TradeRecordValues" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ErrorIP" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyCardSystemErrorLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MyCardSystemErrorLog" minOccurs="0" name="MyCardSystemErrorLogResult" nillable="true" type="q3:MyCardSystemErrorLogResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyCardSystemErrorLogQuery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InErrorCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CrrnyShotName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MyCardSystemErrorLogQueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MyCardSystemErrorLog" minOccurs="0" name="MyCardSystemErrorLogQueryResult" nillable="true" type="q4:MyCardSystemErrorLogQueryResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>