MyCardPointsApi/MyCardPointsApi/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.16.1.247:8081/MyCardPointsApiWcf/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyCardPointsApiWcf" />
  <xs:element name="CheckMyCardForCardPoint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MyCardNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GameServiceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GameServiceIp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMyCardForCardPointResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyCardPointsApiWcf" minOccurs="0" name="CheckMyCardForCardPointResult" nillable="true" type="q1:ArrayOfCheckMyCardForCardPoint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>